* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

section {
  padding: 60px 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }
  80% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/*https://css-tricks.com/how-to-create-wavy-shapes-patterns-in-css/*/
@keyframes textWave {
  0%, 100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
}
@keyframes wave {
  to {
    background-position: calc(50% - 5 * var(--s)) calc(50% - var(--s)), calc(50% - 3 * var(--s)) calc(50% + var(--s));
  }
}
@keyframes btnWave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@keyframes jumpingFish {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  20% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes splash {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  10% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  20% {
    opacity: 0.5;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  60% {
    opacity: 1;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
  }
}
@keyframes aquariumFish1 {
  0% {
    left: 0;
  }
  100% {
    left: 200%;
  }
}
@keyframes aquariumFish2 {
  0% {
    transform: translateX(-10px) rotate(0deg) scaleY(1);
    -webkit-transform: translateX(-10px) rotate(0deg) scaleY(1);
    -moz-transform: translateX(-10px) rotate(0deg) scaleY(1);
    -ms-transform: translateX(-10px) rotate(0deg) scaleY(1);
    -o-transform: translateX(-10px) rotate(0deg) scaleY(1);
  }
  25% {
    transform: translateX(25%) rotate(10deg) scaleY(0.9);
  }
  50% {
    transform: translateX(50%) rotate(0deg) scaleY(1);
  }
  75% {
    transform: translateX(75%) rotate(-10deg) scaleY(0.9);
  }
  100% {
    transform: translateX(350px) rotate(0deg) scaleY(1);
    -webkit-transform: translateX(350px) rotate(0deg) scaleY(1);
    -moz-transform: translateX(350px) rotate(0deg) scaleY(1);
    -ms-transform: translateX(350px) rotate(0deg) scaleY(1);
    -o-transform: translateX(350px) rotate(0deg) scaleY(1);
  }
}
@keyframes aquariumFish3 {
  0% {
    left: -40px;
    transform: rotateZ(0) rotateY(0) scaleY(0.85);
    -webkit-transform: rotateZ(0) rotateY(0) scaleY(0.85);
    -moz-transform: rotateZ(0) rotateY(0) scaleY(0.85);
    -ms-transform: rotateZ(0) rotateY(0) scaleY(0.85);
    -o-transform: rotateZ(0) rotateY(0) scaleY(0.85);
  }
  25% {
    transform: rotateZ(12deg) rotateY(0) scaleY(0.85);
    -webkit-transform: rotateZ(12deg) rotateY(0) scaleY(0.85);
    -moz-transform: rotateZ(12deg) rotateY(0) scaleY(0.85);
    -ms-transform: rotateZ(12deg) rotateY(0) scaleY(0.85);
    -o-transform: rotateZ(12deg) rotateY(0) scaleY(0.85);
  }
  50% {
    left: 120%;
    transform: rotateZ(0deg) rotateY(-180deg) scaleY(1);
    -webkit-transform: rotateZ(0deg) rotateY(-180deg) scaleY(1);
    -moz-transform: rotateZ(0deg) rotateY(-180deg) scaleY(1);
    -ms-transform: rotateZ(0deg) rotateY(-180deg) scaleY(1);
    -o-transform: rotateZ(0deg) rotateY(-180deg) scaleY(1);
  }
  95% {
    left: -40px;
    transform: rotateZ(-12deg) rotateY(-180deg) scaleY(0.85);
    -webkit-transform: rotateZ(-12deg) rotateY(-180deg) scaleY(0.85);
    -moz-transform: rotateZ(-12deg) rotateY(-180deg) scaleY(0.85);
    -ms-transform: rotateZ(-12deg) rotateY(-180deg) scaleY(0.85);
    -o-transform: rotateZ(-12deg) rotateY(-180deg) scaleY(0.85);
  }
  100% {
    left: -40px;
    transform: rotateZ(0deg) rotateY(0) scaleY(1);
    -webkit-transform: rotateZ(0deg) rotateY(0) scaleY(1);
    -moz-transform: rotateZ(0deg) rotateY(0) scaleY(1);
    -ms-transform: rotateZ(0deg) rotateY(0) scaleY(1);
    -o-transform: rotateZ(0deg) rotateY(0) scaleY(1);
  }
}
@keyframes oscillation {
  0% {
    transform: skewX(-10deg), translateY(0);
    -webkit-transform: skewX(-10deg), translateY(0);
    -moz-transform: skewX(-10deg), translateY(0);
    -ms-transform: skewX(-10deg), translateY(0);
    -o-transform: skewX(-10deg), translateY(0);
  }
  50% {
    transform: skewX(-20deg), translateY(-10px);
    -webkit-transform: skewX(-20deg), translateY(-10px);
    -moz-transform: skewX(-20deg), translateY(-10px);
    -ms-transform: skewX(-20deg), translateY(-10px);
    -o-transform: skewX(-20deg), translateY(-10px);
  }
  100% {
    transform: skewX(-10deg), translateY(0);
    -webkit-transform: skewX(-10deg), translateY(0);
    -moz-transform: skewX(-10deg), translateY(0);
    -ms-transform: skewX(-10deg), translateY(0);
    -o-transform: skewX(-10deg), translateY(0);
  }
}
@keyframes oscillation {
  0% {
    transform: skew(-10deg, 0) translateY(0);
    -webkit-transform: skew(-10deg, 0) translateY(0);
    -moz-transform: skew(-10deg, 0) translateY(0);
    -ms-transform: skew(-10deg, 0) translateY(0);
    -o-transform: skew(-10deg, 0) translateY(0);
  }
  50% {
    transform: skew(-60deg, 1deg) translateY(-10px);
    -webkit-transform: skew(-60deg, 1deg) translateY(-10px);
    -moz-transform: skew(-60deg, 1deg) translateY(-10px);
    -ms-transform: skew(-60deg, 1deg) translateY(-10px);
    -o-transform: skew(-60deg, 1deg) translateY(-10px);
  }
  100% {
    transform: skew(-10deg, 0deg) translateY(0);
    -webkit-transform: skew(-10deg, 0deg) translateY(0);
    -moz-transform: skew(-10deg, 0deg) translateY(0);
    -ms-transform: skew(-10deg, 0deg) translateY(0);
    -o-transform: skew(-10deg, 0deg) translateY(0);
  }
}
@keyframes footerWaveForward {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 100%;
  }
}
@keyframes footerWaveBack {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes navbar {
  0% {
    transform: translate();
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #494949;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveInLeft 1s ease-out;
  -webkit-animation: moveInLeft 1s ease-out;
}
.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 15px;
  animation: moveInLeft 1s ease-out;
  -webkit-animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}
.heading-secondary span {
  background-image: linear-gradient(to right, #014e7a, #81f5f5);
  background-clip: text;
  color: transparent;
  display: inline-block;
  margin: 0 5px;
  overflow: hidden;
}
.heading-secondary--wave {
  animation: wave 2s ease-in-out infinite;
  -webkit-animation: textWave 2s ease-in-out infinite;
}
.heading-secondary--wave:nth-child(1) {
  animation-delay: 0s;
}
.heading-secondary--wave:nth-child(2) {
  animation-delay: 0.2s;
}
.heading-secondary--wave:nth-child(3) {
  animation-delay: 0.4s;
}
.heading-secondary--wave:nth-child(4) {
  animation-delay: 0.6s;
}
.heading-secondary--wave:nth-child(5) {
  animation-delay: 0.8s;
}
.heading-secondary--wave:nth-child(6) {
  animation-delay: 1s;
}
.heading-secondary--wave:nth-child(7) {
  animation-delay: 1.2s;
}
.heading-secondary--wave:nth-child(8) {
  animation-delay: 1.4s;
}
.heading-secondary--wave:nth-child(9) {
  animation-delay: 1.6s;
}
.heading-secondary--wave:nth-child(10) {
  animation-delay: 1.8s;
}
.heading-secondary--jumping-fish {
  position: relative;
  margin-top: 100px;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.aquarium__btn-text {
  position: relative;
  z-index: 10;
}
.aquarium__fish {
  display: block;
}
.aquarium__fish--1 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0.3rem;
  left: 0;
  background: url(../img/aquarium/1.svg) center/cover;
  animation: aquariumFish1 10s;
  -webkit-animation: aquariumFish1 5s ease-in-out infinite forwards;
}
.aquarium__fish--2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url(../img/aquarium/2.svg) no-repeat center/cover;
  animation: aquariumFish2 10s 2s cubic-bezier(0.45, 0, 0.55, 1) infinite;
  -webkit-animation: aquariumFish2 10s 2s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}
.aquarium__fish--3 {
  position: absolute;
  bottom: 0;
  left: -40px;
  width: 30px;
  height: 30px;
  background: url(../img/aquarium/2.svg) no-repeat center/cover;
  animation: aquariumFish2 7s 3s cubic-bezier(0.45, 0, 0.55, 1) infinite;
  -webkit-animation: aquariumFish2 7s 3s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}
.aquarium__fish--4 {
  position: absolute;
  bottom: 50%;
  left: -40px;
  width: 30px;
  height: 30px;
  background: url(../img/aquarium/2.svg) no-repeat center/cover;
  animation: aquariumFish3 8s ease-in-out infinite;
  -webkit-animation: aquariumFish3 8s ease-in-out infinite;
}

.book {
  max-width: 900px;
  padding: 50px;
  margin: 0 auto;
  background: url(../img/book.jpg) no-repeat right/contain, linear-gradient(to right, #fff, #c7cbc7);
  position: relative;
}
.book::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #fff, #c7cbc7 64%, transparent 78%);
}
.book__heading-wraper {
  position: relative;
  z-index: 10;
}

.btn {
  padding: 20px 30px 10px;
}
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 15px 40px;
  display: inline-block;
  border: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: relative;
}
.btn:active {
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  z-index: -1;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  -moz-transform: scaleX(1.4) scaleY(1.6);
  -ms-transform: scaleX(1.4) scaleY(1.6);
  -o-transform: scaleX(1.4) scaleY(1.6);
}
.btn-white {
  background-color: #fff;
  color: #014e7a;
}
.btn-white::after {
  background-color: #fff;
}
.btn-animated {
  animation: moveInBottom 0.6s ease-out 0.7s backwards;
  -webkit-animation: moveInBottom 0.6s ease-out 0.7s backwards;
}

.btn-wave {
  width: 220px;
  position: relative;
  display: block;
  overflow: hidden;
}
.btn-wave:hover .wave_btn {
  top: -120px;
}
.btn-wave .wave-text {
  position: relative;
  z-index: 1;
  color: #fff;
}
.btn-wave .wave_btn {
  width: 220px;
  height: 220px;
  background-color: #014e7a;
  box-shadow: inset 0 0 50px #5094f9;
  position: absolute;
  left: 0;
  top: -80px;
  transition: 0.4s;
}
.btn-wave .wave_btn::before, .btn-wave .wave_btn::after {
  width: 200%;
  height: 200%;
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -75%);
}
.btn-wave .wave_btn::before {
  top: -10px;
  border-radius: 45%;
  background-color: #5094f9;
  animation: btnWave 5s linear infinite;
  -webkit-animation: btnWave 5s linear infinite;
}
.btn-wave .wave_btn::after {
  border-radius: 40%;
  background-color: #81f5f5;
  animation: btnWave 10s linear infinite;
}
.btn-wave-light {
  width: 300px;
}
.btn-wave-light .wave-text {
  color: #014e7a;
}
.btn-wave-light .wave_btn {
  width: 300px;
  background-color: #fff;
  background-color: #81f5f5;
}
.btn-wave-light .wave_btn::before, .btn-wave-light .wave_btn::after {
  width: 150%;
  height: 150%;
}
.btn-wave-light .wave_btn::before {
  top: 0;
  background-color: #fff;
  opacity: 0.5;
}
.btn-wave-light .wave_btn::after {
  top: 20px;
  background-color: #fff;
}
.btn-wave-light .wave_btn:hover .wave_btn {
  top: -163px;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #014e7a;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
}

.btn-tours:link, .btn-tours:visited {
  color: yellow;
  letter-spacing: 2px;
  word-spacing: 10px;
  text-shadow: 0 0 0 #fff;
  padding: 3rem 7rem;
  margin-top: 3rem;
  border: 1px solid #5094f9;
  overflow: hidden;
}

.wave {
  box-sizing: content-box;
  --s: 8px;
  --b: 3px;
  height: calc(2 * var(--s));
  aspect-ratio: 3;
  display: grid;
  padding: 10px;
  background: transparent;
  position: relative;
  z-index: 10;
}
.wave::before {
  content: "";
  --_g: calc(-0.6 * var(--s)), #0000 calc(99% - var(--b)),
    #fff calc(101% - var(--b)) 99%, #0000 101%;
  --_r: calc(1.166 * var(--s) + var(--b) / 2) at left 50%;
  background: radial-gradient(var(--_r) bottom var(--_g)) calc(50% - var(--s)) calc(50% - var(--s))/calc(4 * var(--s)) calc(2 * var(--s)), radial-gradient(var(--_r) top var(--_g)) calc(50% + var(--s)) calc(50% + var(--s))/calc(4 * var(--s)) calc(2 * var(--s));
  animation: wave 1s infinite linear;
  -webkit-animation: wave 2.5s infinite linear;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50rem;
  box-shadow: 5px 5px 15px rgba(80, 148, 249, 0.4);
  backface-visibility: hidden;
  overflow: hidden;
  height: 50rem;
  border-radius: 5px;
  transition: 0.6s all;
  -webkit-transition: 0.6s all;
  -moz-transition: 0.6s all;
  -ms-transition: 0.6s all;
  -o-transition: 0.6s all;
  -webkit-backface-visibility: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.card__side--front {
  background: #fff;
}
.card__side--back {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  background-color: #81f5f5;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to bottom, #81f5f5, rgb(152.625, 246.875, 246.875), #81f5f5);
  color: gray;
}
.card__side--back-2 {
  background-image: linear-gradient(to bottom, #5094f9, rgb(104.6546961326, 163.0745856354, 249.8453038674), #5094f9);
}
.card__side--back-3 {
  background-image: linear-gradient(to bottom, #014e7a, rgb(1.2073170732, 94.1707317073, 147.2926829268), #014e7a);
  color: #fff;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
}
.card__img {
  background-blend-mode: hard-light;
  height: 23rem;
}
.card__img-1 {
  background: linear-gradient(to right, rgba(129, 245, 245, 0.2), rgba(129, 245, 245, 0.8)), url(../img/tours/1.jpg) no-repeat center/cover;
}
.card__img-2 {
  background: linear-gradient(to right, rgba(80, 148, 249, 0.2), rgba(80, 148, 249, 0.8)), url(../img/tours/2.jpg) no-repeat center/cover;
}
.card__img-3 {
  background: linear-gradient(to right, rgba(1, 78, 122, 0.2), rgba(1, 78, 122, 0.8)), url(../img/tours/3.jpg) no-repeat center/cover;
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 0;
  width: 50%;
  text-align: right;
}
.card__heading-span {
  padding: 0 1.5rem;
  margin-bottom: 0.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.card__heading-span--1 {
  background: rgb(16.25, 204.75, 204.75);
}
.card__heading-span--2 {
  background: rgb(30.6906077348, 117.8508287293, 247.3093922652);
}
.card__heading-span--3 {
  background: #014e7a;
}
.card__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card__list-item {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.card__list-item:not(:last-child) {
  border-bottom: 1px solid rgb(176.25, 248.75, 248.75);
}

.composition {
  position: relative;
}
.composition__img {
  width: 65%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
.composition__img--1 {
  left: 0;
  top: -2rem;
}
.composition__img--2 {
  right: 0;
  top: 2rem;
}
.composition__img--3 {
  left: 20%;
  top: 10rem;
}
.composition__img:hover {
  outline: 1.5rem solid #5094f9;
  outline-offset: 20px;
  transform: scale(1.05) translateY(-10px);
  -webkit-transform: scale(1.05) translateY(-10px);
  -moz-transform: scale(1.05) translateY(-10px);
  -ms-transform: scale(1.05) translateY(-10px);
  -o-transform: scale(1.05) translateY(-10px);
  z-index: 20;
}
.composition:hover .composition__img:not(:hover) {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.feature-box {
  background-color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(#5094f9, #81f5f5, #014e7a);
  background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  box-shadow: 5px 5px 10px rgba(1, 78, 122, 0.7);
}

.form {
  max-width: 500px;
  padding: 2rem;
  position: relative;
  z-index: 10;
}
.form__input {
  width: 100%;
  display: block;
  border: none;
  padding: 1.5rem 2rem 1rem;
  font-size: 1.5rem;
  color: inherit;
  border-bottom: 0.5rem solid transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.form__input:focus {
  outline: none;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(1, 78, 122, 0.4);
  border-bottom: 0.5rem solid #5094f9;
}
.form__input:focus:invalid {
  border-bottom: 0.5rem solid orange;
}
.form__input::placeholder {
  color: #5094f9;
}
.form__label {
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 1rem;
  margin: 1rem 2rem 2rem;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.form__label:focus {
  border: 2px solid blue;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  -webkit-transform: translateY(-4rem);
  -moz-transform: translateY(-4rem);
  -ms-transform: translateY(-4rem);
  -o-transform: translateY(-4rem);
}
.form__radio-group {
  width: 30%;
  display: inline-block;
}
.form__radio-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.form__radio-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 5px solid #5094f9;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.form__radio-btn::after {
  content: "";
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  background-color: #5094f9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.form__radio-input:checked + .form__radio-label .form__radio-btn::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.form__btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(to right, #81f5f5, #5094f9 15%, #014e7a 50%);
  background-size: 180% 180%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  padding: 1.5rem 2rem 1.5rem 6rem;
  transition: 0.6s ease-in;
  -webkit-transition: 0.6s ease-in;
  -moz-transition: 0.6s ease-in;
  -ms-transition: 0.6s ease-in;
  -o-transition: 0.6s ease-in;
}
.form__btn-arrow {
  line-height: 1;
}
.form__btn:hover {
  background-position: 230% 355%;
}

.jumping-fish {
  width: 100%;
  aspect-ratio: 3/1;
  overflow: hidden;
  position: absolute;
  top: -157%;
  left: 0;
}
.jumping-fish::before {
  content: "";
  width: 75%;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  left: 12%;
  transition: 0.3s;
  background: url(../img/fish.svg) no-repeat left center;
  background-size: 40px;
  animation: jumpingFish 5s ease-out infinite;
  -webkit-animation: jumpingFish 5s ease-out infinite;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.jumping-fish::after {
  content: "";
  width: 30px;
  height: 5px;
  border: 1px solid #81f5f5;
  outline: 1px solid #81f5f5;
  outline-offset: 3px;
  position: absolute;
  top: 90%;
  right: 14%;
  transform: scale(0);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: splash 5s ease-in-out backwards infinite;
  -webkit-animation: splash 5s ease-in-out backwards infinite;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.logo {
  position: absolute;
  text-align: center;
  z-index: 100;
}
.logo__img {
  height: 30px;
  margin-bottom: -15px;
}

.story {
  width: 75%;
  padding: 6rem;
  margin: 0 auto 3rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3rem 6rem rgba(1, 78, 122, 0.6);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-1.5rem);
  -webkit-transform: translateX(-1.5rem);
  -moz-transform: translateX(-1.5rem);
  -ms-transform: translateX(-1.5rem);
  -o-transform: translateX(-1.5rem);
}
.story__img {
  height: 100%;
  transform: translateX(-3rem);
  -webkit-transform: translateX(-3rem);
  -moz-transform: translateX(-3rem);
  -ms-transform: translateX(-3rem);
  -o-transform: translateX(-3rem);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-shadow: 0 0 5px #000;
  opacity: 0;
  font-size: 3rem;
  text-align: center;
  backface-visibility: hidden;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transition: 0.4s 0.3s;
  -webkit-transition: 0.4s 0.3s;
  -moz-transition: 0.4s 0.3s;
  -ms-transition: 0.4s 0.3s;
  -o-transition: 0.4s 0.3s;
  -webkit-backface-visibility: hidden;
}
.story:hover .story__img {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.story__heading {
  position: relative;
  z-index: 10;
  margin-top: 60px;
}
.story__heading span {
  font-size: 8rem;
  letter-spacing: 10px;
  word-spacing: 20px;
  background-image: linear-gradient(to bottom, #81f5f5, #014e7a);
  animation: oscillation 10s ease-in-out infinite;
  -webkit-animation: oscillation 10s ease-in-out infinite;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.video__source {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  overflow: hidden;
}
.navigation__label {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #f9f8f2 url(../img/nav.svg) no-repeat center/30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  transition: 0.4s cubic-bezier(0.97, 0.01, 0.14, 0.53);
  cursor: pointer;
  z-index: 200;
}
.navigation__bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*top: 3rem;
  right: 3rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;*/
  background-image: radial-gradient(at right top, #013350, #014e7a, #81f5f5);
  transform: scale(0);
  transform-origin: top right;
  z-index: 100;
  transition: 0.6s cubic-bezier(0.97, 0.01, 0.47, 0.31);
}
.navigation__nav {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-200%);
  z-index: 110;
  transition: 0.4s cubic-bezier(0.97, 0.01, 0.14, 0.53);
}
.navigation__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 5px 30px;
  color: #fff;
  font-size: 2.5rem;
  background: url(../img/wave-line.svg) no-repeat bottom; /*linear-gradient(to right, $color-dark, $color-light);*/
  background-size: 0%;
  background-position-x: 0;
  background-origin: content-box;
  transition: 0.4s;
}
.navigation__link:hover {
  background-size: 100%;
}
.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(1);
}
.navigation__checkbox:checked ~ .navigation__nav {
  transform: translateY(0);
}
.navigation__checkbox:checked ~ .navigation__label {
  transform: rotate(90deg);
}

.header {
  height: 95vh;
  background: linear-gradient(rgba(1, 78, 122, 0.7), rgba(129, 245, 245, 0.2)), url(../img/1.jpg) no-repeat center/cover;
  position: relative;
  /*clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);*/
}
.header__logo-box {
  top: 40px;
  left: 40px;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  -webkit-transform: translate(-50%, -60%);
  -moz-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  -o-transform: translate(-50%, -60%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 40px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 40px;
}
.row_footer {
  margin: 0 auto;
}
.row .col-1-of-2 {
  width: calc((100% - 40px) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 40px) / 3);
}
.row .col-2-of-3 {
  width: calc((100% - 2 * 40px) / 3 * 2 + 40px);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 40px) / 4);
}
.row .col-2-of-4 {
  width: calc((100% - 40px) / 2);
}
.row .col-3-of-4 {
  width: calc((100% - 3 * 40px) / 4 * 3 + 2 * (40px));
}

.footer {
  color: #000;
  padding: 60px 0 90px;
  background: #5094f9;
  background-position: center;
  background-size: 1500px;
  background-repeat: no-repeat;
  position: relative;
}
.footer__wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/footer/wave.svg) no-repeat;
  animation: footerWaveBack 6s ease-in-out infinite backwards;
}
.footer__wave::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/footer/wave.svg) no-repeat;
  opacity: 0.3;
  animation: footerWaveForward 4s ease-in-out infinite backwards;
}
.footer__wave::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/footer/wave.svg) no-repeat;
  opacity: 0.6;
  animation: footerWaveForward 3s linear infinite backwards;
}
.footer__content {
  position: relative;
}
.footer__logo-box {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.footer__list {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: start;
  padding: 30px;
}
.footer__link {
  color: #000;
  display: inline-block;
  padding: 5px 20px;
  cursor: pointer;
  position: relative;
  transition: 0.6s;
  border-radius: 5px;
  background-image: linear-gradient(rgba(1, 78, 122, 0.4), rgba(129, 245, 245, 0.4), #5094f9);
  background-position: 50% 50%;
}
.footer__link::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.footer__link:hover {
  background-image: linear-gradient(#5094f9, rgba(129, 245, 245, 0.6), rgba(1, 78, 122, 0.6));
  background-position: 400% 400%; /*33% 515%*/
}
.footer__text {
  padding: 30px 40px;
  color: #000;
}
.footer__copyright {
  font-style: italic;
  text-align: center;
}

.section-features {
  padding: 20rem 0;
  background: linear-gradient(to top right, rgba(1, 78, 122, 0.7) 20%, rgba(129, 245, 245, 0.2) 40%), url(../img/2.jpg) no-repeat center/cover;
}

.section-tours {
  background-image: linear-gradient(to bottom, #f9f8f2, #306389 99%);
  text-align: center;
  padding-bottom: 100px;
}

.section-story {
  position: relative;
  background-image: linear-gradient(to bottom, #306389 3%, rgba(80, 148, 249, 0.4), rgba(1, 78, 122, 0.4), #014e7a 98%);
}

.section-book {
  padding: 100px 100px 300px;
  background-image: linear-gradient(to bottom, #014e7a, #5094f9, #81f5f5, #014e7a 70%, #014e7a);
}

/*# sourceMappingURL=style.css.map */
