$color-dark: #014e7a;
$color-medium: #5094f9;
$color-light: #81f5f5;
$color-black: #000;
$color-white: #fff;
$color-gray-light: #f9f8f2;
$color-grey-dark: #c7cbc7;
$color-complementary-blue: #306389;
$color-complementary-light: #ffbd86;
$color-complementary-yellow: yellow;

$gutter-hor: 40px;

$default-font-size: 1.6rem;
