.footer {
  color: $color-black;
  padding: 60px 0 90px;
  background: $color-medium;
  background-position: center;
  background-size: 1500px;
  background-repeat: no-repeat;
  position: relative;

  @include responsive(phone) {
    padding-top: 0;
  }

  &__wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/footer/wave.svg) no-repeat;
    animation: footerWaveBack 6s ease-in-out infinite backwards;

    &::before {
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/footer/wave.svg) no-repeat;
      opacity: 0.3;
      animation: footerWaveForward 4s ease-in-out infinite backwards;
    }

    &::after {
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/footer/wave.svg) no-repeat;
      opacity: 0.6;
      animation: footerWaveForward 3s linear infinite backwards;
    }
  }

  &__content {
    position: relative;
  }

  &__logo-box {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }

  &__list {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: start;
    padding: 3rem 2rem 0;

    @include responsive(phone) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__link {
    font-size: 1.4rem;
    color: $color-black;
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    position: relative;
    transition: 0.6s;
    border-radius: 5px;
    background-image: linear-gradient(
      rgba($color-dark, 0.4),
      rgba($color-light, 0.4),
      $color-medium
    );
    background-position: 50% 50%;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover {
      background-image: linear-gradient(
        $color-medium,
        rgba($color-light, 0.6),
        rgba($color-dark, 0.6)
      );
      background-position: 400% 400%; /*33% 515%*/
    }
  }

  &__text {
    font-size: 1.4rem;
    padding: 3rem 2rem;
    color: $color-black;
  }

  &__copyright {
    font-style: italic;
    text-align: center;
    padding: 0 2rem;
  }
}
