.btn {
  padding: 2rem 3rem 1rem;

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: $default-font-size;
    padding: 1.5rem 4rem;
    display: inline-block;
    border: none;
    border-radius: 10rem;
    transition: all 0.3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: relative;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.5);
  }

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10rem;
    z-index: -1;
    transition: 0.4s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.4);

    &::after {
      opacity: 0;
      transform: scaleX(1.4) scaleY(1.6);
    }
  }

  &-white {
    background-color: $color-white;
    color: $color-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &-animated {
    animation: moveInBottom 0.6s ease-out 0.7s backwards;
    -webkit-animation: moveInBottom 0.6s ease-out 0.7s backwards;
  }
}

.btn-wave {
  width: 22rem;
  position: relative;
  display: block;
  overflow: hidden;

  &:hover {
    .wave_btn {
      top: -12rem;
    }
  }

  .wave-text {
    position: relative;
    z-index: 1;
    color: $color-white;
  }

  .wave_btn {
    width: 22rem;
    height: 22rem;
    background-color: $color-dark;
    box-shadow: inset 0 0 5rem $color-medium;
    position: absolute;
    left: 0;
    top: -8rem;
    transition: 0.4s;

    &::before,
    &::after {
      width: 200%;
      height: 200%;
      content: '';
      position: absolute;
      top: -3rem;
      left: 50%;
      transform: translate(-50%, -75%);
    }

    &::before {
      top: -1rem;
      border-radius: 45%;
      background-color: $color-medium;
      animation: btnWave 5s linear infinite;
      -webkit-animation: btnWave 5s linear infinite;
    }

    &::after {
      border-radius: 40%;
      background-color: $color-light;
      animation: btnWave 10s linear infinite;
    }
  }

  &-light {
    width: 30rem;

    .wave-text {
      color: $color-dark;
    }

    .wave_btn {
      width: 30rem;
      background-color: $color-white;
      background-color: $color-light;

      &::before,
      &::after {
        width: 150%;
        height: 150%;
      }

      &::before {
        top: 0;
        background-color: $color-white;
        opacity: 0.5;
      }

      &::after {
        top: 2rem;
        background-color: $color-white;
      }

      &:hover .wave_btn {
        top: -16.3rem;
      }
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-dark;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
  }
}

.btn-tours {
  &:link,
  &:visited {
    color: $color-complementary-yellow;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-shadow: 0 0 0 $color-white;
    padding: 3rem 7rem;
    margin-top: 3rem;
    border: 1px solid $color-medium;
    overflow: hidden;
  }
}
