.composition {
  position: relative;

  &__img {
    float: left;
    width: 33%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    transition: 0.3s ease-in;
    position: relative;

    &--1 {
      left: 0;
      top: 2rem;
    }

    &--2 {
      right: 0;
      top: 2rem;
    }

    &--3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $color-medium;
      outline-offset: 20px;
      transform: scale(1.05) translateY(-10px);
      -webkit-transform: scale(1.05) translateY(-10px);
      -moz-transform: scale(1.05) translateY(-10px);
      -ms-transform: scale(1.05) translateY(-10px);
      -o-transform: scale(1.05) translateY(-10px);
      z-index: 20;
    }
  }

  &:hover &__img:not(:hover) {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
}
