.jumping-fish {
  width: 100%;
  aspect-ratio: 3/1;
  overflow: hidden;
  position: absolute;
  top: -157%;
  left: 0;

  &::before {
    content: '';
    width: 75%;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    left: 12%;
    transition: 0.3s;
    background: url(../img/fish.svg) no-repeat left center;
    background-size: 40px;
    animation: jumpingFish 5s ease-out infinite;
    -webkit-animation: jumpingFish 5s ease-out infinite;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  &::after {
    content: '';
    width: 30px;
    height: 10px;
    border: 1px solid $color-medium;
    outline: 1px solid $color-medium;
    outline-offset: 5px;
    position: absolute;
    top: 78%;
    right: 14%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: splash 5s ease-in-out backwards infinite;
    -webkit-animation: splash 5s ease-in-out backwards infinite;
  }
}
