* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;

  /*@include responsive(phone) {
    font-size: 50%;
  }*/

  @include responsive(tab-land) {
    // width < 900  1rem = 9px  9/16 = 50%
    font-size: 70%;
  }

  @include responsive(tab-port) {
    // width < 600   1rem = 8px   8/16 = 50%
    font-size: 60%;
  }

  @include responsive(big-desktop) {
    font-size: 80%;
  }
}

ul {
  list-style-type: none;
}

section {
  padding: 60px 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
