.section-features {
  padding: 20rem 0;
  background: linear-gradient(
      to top right,
      rgba($color-dark, 0.7) 20%,
      rgba($color-light, 0.2) 40%
    ),
    url(../img/2.jpg) no-repeat center / cover;
}

.section-tours {
  background-image: linear-gradient(
    to bottom,
    $color-gray-light,
    $color-complementary-blue 99%
  );
  text-align: center;
  padding: 6rem 0 100px;
}

.section-story {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    $color-complementary-blue 3%,
    rgba($color-medium, 0.4),
    rgba($color-dark, 0.4),
    $color-dark 98%
  );
  overflow: hidden;

  @include responsive(phone) {
    padding: 3rem 0;
  }
}

.section-book {
  padding: 10rem 10rem 30rem;
  background-image: linear-gradient(
    to bottom,
    $color-dark,
    $color-medium,
    $color-light,
    $color-dark 70%,
    $color-dark
  );

  @include responsive(tab-port) {
    padding: 0 5rem 22rem;
  }

  @include responsive(phone) {
    padding: 10rem 2rem 30rem;
  }
}
