.section-about {
}

.section-features {
  padding: 20rem 0;
  background: linear-gradient(
      to top right,
      rgba($color-dark, 0.7) 20%,
      rgba($color-light, 0.2) 40%
    ),
    url(../img/2.jpg) no-repeat center / cover;
}

.section-tours {
  background-color: $color-gray;
  text-align: center;
}

.section-story {
  position: relative;
  background-image: linear-gradient(
    to right,
    rgba($color-light, 0.2),
    rgba($color-light, 0.8),
    rgba($color-dark, 0.8),
    rgba($color-dark, 0.8)
  );
}
