.section-about {
}

.section-features {
  padding: 20rem 0;
  background: linear-gradient(
      to top right,
      rgba($color-dark, 0.7) 20%,
      rgba($color-light, 0.2) 40%
    ),
    url(../img/2.jpg) no-repeat center / cover;
}

.section-tours {
  background-image: linear-gradient(
    to bottom,
    $color-gray-light,
    $color-complementary-blue 99%
  );
  text-align: center;
  padding-bottom: 100px;
}

.section-story {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    $color-complementary-blue 3%,
    rgba($color-medium, 0.4),
    rgba($color-dark, 0.4),
    $color-dark 98%
  );
}

.section-book {
  padding: 100px;
  background-image: linear-gradient(
    to bottom,
    $color-dark,
    $color-medium,
    $color-light,
    $color-dark
  );
}
